<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
</head>
<body>
    <header>
        <custom-navigation></custom-navigation>
    </header>
    <main>
        <about-me-content></about-me-content>
    </main>
    <footer class="about-me-footer">
        <locale-picker></locale-picker>
        <custom-footer></custom-footer>
    </footer>
</body>
</html>